@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-text-secondary: #999999;
  --color-border: #eeeeee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}
